@{
    ViewBag.Title = "Trang chủ";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner">
    <div class="container">
        <div class="banner_desc">
            <h1>New Season Arrivals.</h1>
            <h2>Check out all the new trends</h2>
            <div class="button">
               <li class="hvr-shutter-out-horizontal">@Html.ActionLink("Shop Now", "Index", "Product")</li>
            </div>
        </div>
    </div>
</div>
