@using Badminton_Sport.Models.Data;
@model PRODUCT
@{
    ViewBag.Title = "Show";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="single_top">
    <div class="container">
        <div class="single_grid">
            <div class="grid images_3_of_2">
                <ul id="etalage">
                    <li>
                        <img src="@Url.Content("~/Content/Layout/images/" + @Model.IMAGES)" class="img-responsive" />
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="desc1 span_3_of_2">
                <ul class="back">
                    <li><i class="back_arrow"> </i>Back to <a href="index.html">Men's Clothing</a></li>
                </ul>
                <h1>@Model.PRODUCT_NAME</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum</p>
                <div class="simpleCart_shelfItem">
                    <div class="price_single">
                        <div class="head"><h2><span class="amount item_price">@Model.PRICE VNĐ</span></h2></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single_but"><a href="" class="item_add btn_3" value=""></a></div>
                    <div class="size_2-right"><a href="/AddItem?productID=@Model.PRODUCT_ID&quantity=1" class="item_add item_add1 btn_5" value="">Add to Cart</a></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>